@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #fcf9f9 !important;
  min-height: 90vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  /* padding: 30px; */
  padding-bottom: 30px;
}
.wrapper-grid > div {
  /* background: #eee; */
  /* margin: 10px; */
  padding: 5px;
}
.buttons-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 9px;
  /* padding: 30px; */
  /* padding-bottom: 50px; */
  /* padding: 20px; */
}
.btn-primary {
  color: white;
  background-color: black;
  border-radius: black;
  background-blend-mode: color;
}

.btn-primary:hover {
  background-color: rgb(88, 87, 87);

  box-shadow: rgb(59, 58, 58);
}
body,
html,
.Authentification,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}
.auth-inner {
  width: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper .form-image {
  text-align: center;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

@media (orientation: landscape) {
  body,
  html,
  .Authentification,
  #root #div {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
  }
}
@media (orientation: portrait) {
  body,
  html,
  .Authentification,
  #root,
  #div {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
  }
}
