.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
